<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/youkai/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>ID</td><td><input type="text" name="code" value="<%= data.id %>"></td></tr>
      <tr><td>名前</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>種族</td><td><input type="text" name="type" value="<%= data.type %>"></td></tr>
      <tr><td>ランク</td><td><input type="text" name="rank" value="<%= data.rank %>"></td></tr>
      <tr><td>スキル</td><td><input type="text" name="skill" value="<%= data.skill %>"></td></tr>
      <tr><td>ひっさつわざ</td><td><input type="text" name="soultimate" value="<%= data.soultimate %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <td><a href="/youkai/delete/<%= id %>">削除</a></td></tr>
  <a href="/youkai/">妖怪一覧に戻る</a>
</body>
</html>